<!doctype html>
<html lang="en" class="@@pageID" >
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css">
        <meta charset="utf-8">
        <title>@@title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- site css -->
        <!-- build:css -->
        <!-- endbuild -->
        <!-- end site css -->

        <!-- site javascrsipt -->
        <!-- build:js -->
        <!-- endbuild -->
        <!-- end site javascrsipt -->
        
    </head>
    <body>