* {
	margin: 0;
	padding: 0;
    font-family: 'Open Sans', sans-serif;
}

html, body {
	background-color: #37352B;
	height:100%;
}

#ctl00_pnlSearch{
    position: relative;
}

.sayt-title-link {
    text-decoration: none;
}
.sayt-frame {
    width: 423px;
    .sayt-result {
        width: 423px;
        position:relative;
        border-bottom: lightgrey solid 1px; 
        margin: 0 10px 0 10px;
        .sayt-cover {
            width:73px; 
            max-width:73px;
            display:inline-block; 
            padding: 8px 0 8px 0;
            img {
                height:70px;
                max-width:73px;
            }
        }
        .sayt-no-cover {
            width:73px; 
            display:inline-block; 
            padding: 8px 0 8px 0;
            div {
                background-color:lightgrey;
                max-width: 50px; 
                height: 50px;
                max-height: 50px;
                padding-top:35px;
                padding-left:4px;
                color:white;
            }
        }
        .sayt-details {
            width:250px;
            display:inline-block;
            .sayt-title {
                vertical-align:top;
                position: absolute;
                top:10px;
                p {
                    display:block;
                    width:345px;
                    vertical-align:top;
                    font-size: 13px;
                }
            }
            .sayt-author {
                vertical-align:bottom;
                position: absolute;
                bottom:10px;
                p {
                    display:block;
                    width:345px;
                    vertical-align:bottom; 
                    font-size: 13px;
                }
            }
        }
        .sayt-edition {
            width:100px;
            display:inline-block;
            position:absolute;
            top:30px;
            p {
                font-size: 13px;
                vertical-align:middle;
            }
        }
    }
}

.no_cover_small {
    width: 72px;
    height: 100px;
    display: inline-block;
    background-color: lightgrey;
}

.clear_search {
    position: absolute;
    right: 73px;
    top: 3px;
    font-size: 15px;
    cursor: pointer;
}

h3 {
    font-size: 13px;
    font-weight: normal;
    color: grey;
}

.search_container {
	position: relative;
	margin:0 auto;
	width: 940px;
	min-height:100%;
    height:auto;
    text-align: left;
    background-color:#F4F4F4;
    overflow:hidden;
}

.filters_nav {
	display: inline-block;
	width: 240px;
	height: 100%;
	min-height: 100% ;
    padding: 10px 10px 0px 20px;
    padding-bottom: 99999px;
    margin-bottom: -99999px;
	background-color: #1e1e1B;
	vertical-align: top;
	color: white;

    > div {
        margin-bottom: 15px;
    }

    .nav_heading {
        color: #6699CC;
        font-family: "Lucida Sans";
        font-size: 12px;
        border-bottom: 2px #363838 solid;
        position: relative;
        display:inline-block;
        width: 210px;
        cursor: pointer;
    }
    .chevron {
        height: 0;
    }

    .fa-chevron-right, .fa-chevron-down {
        display:none;
        margin-left: 10px;
        font-size: 15px;
        cursor: pointer;
    }

    .publish_date_boxes {
        input {
            margin: 10px 10px;
            display:inline-block;
            width: 70px;
            height: 25px;
        }
    }

    .filters_checkboxes {
        padding: 0px;
        font-size: 15px;

        .filter {
            text-align: left;
            position: relative;
            margin: 10px 0px;

            .count{
                position: absolute;
                right: 2px;
                top: 4%;
                color: #95989A;
                font-family: Georgia, Times, 'Times New Roman', serif;
            }
            p input {
                position: absolute;
                left: 2px;
                top: 10%;
            }
            h3 {
                cursor: pointer;
                display: inline-block;
                font-family: Georgia, Times, 'Times New Roman', serif;
                font-size: 13px;
                color: #95989A;
                &:hover {
                    color: #ccc;
                }
            }
        }

        .filter-text {
            width: auto;
            cursor: pointer;
            display: inline-block;
            margin:0 0 0 20px;

        }
    }
    .nav_show_more {
        text-align: center;
        cursor:pointer;
        font-size: 11px;
    }
}

.advertisement_banner {
	background-color: lightgrey;
}

.show_more {
    display: inline-block;
    text-align: center;
    line-height: 25px;
    margin-left: 20px;
    font-family: "Lucida Sans";
    letter-spacing: 1px;
    width: 95px;
    height: 25px;
    max-width: 95px;
    max-height: 25px;
    cursor: pointer;
    color: white;
    font-size: 11px;
    background-color: black;
}
.show_more_disabled {
    display: inline-block;
    text-align: center;
    line-height: 25px;
    margin-left: 20px;
    font-family: "Lucida Sans";
    letter-spacing: 1px;
    width: 95px;
    height: 25px;
    max-width: 95px;
    max-height: 25px;
    cursor: default;
    color: white;
    font-size: 11px;
    background-color: lightgrey;
}

.search_container .results_container {
	display: inline-block;
	width:656px;

    .meta_results {
        position: relative;
        padding: 8px 0 10px 0;
        border-bottom: 1px lightgrey solid;
        
        .number_results {
            display: inline-block;
            text-align: center;
            font-weight: bold;
            margin-left: 10px;
            margin-top: 5px;
            p {
                font-size: 14px;
            }

        }

        .corrected_query {
            margin-top: 5px;
            margin-bottom: 5px;
            margin-left: 15px;
            p {
                font-size: 16px;
                margin-bottom: 10px;
            }
        }

        .breadcrumbs {
            display: none;
            font-family: "Lucida Sans" sans-serif;
            letter-spacing: .5px;
            margin-left: 10px;
            .breadcrumb {
                display: inline-block;
                margin: 5px 0;
                color: #0099cc;
                
                h2 {
                    font-size: 13px;
                    text-decoration: underline;
                    display: inline-block;
                    cursor:pointer;
                }
                p {
                    display:inline-block;
                }
                p.crumb_x {
                    font-size: 15px;
                    display: inline-block;
                    font-weight: bold;
                    cursor:pointer;
                }

                p.crumb {
                    font-size: 15px;
                    display: none;
                    font-weight: bold;
                }
            }
        }

        .sort_display {
            display: inline-block;
            position: absolute;
            right:4px;

            .sort_select {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                font-family: "Lucida Sans";
                font-size: 13px;
                font-weight: bold;
                padding-left: 10px;
                width: 150px;
                height: 30px;
                border-radius: 0px;
            }
        }
        .sort_display:after {
            content: "\25bc";
            color: black;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            font-size: 60%;
            line-height: 30px;
            padding: 0 7px 0 0;
        }
    }
    .results_content {
    
        .result {
            position: relative;
            background-color: #F4F4F4;
            padding: 10px 0px;
            border-bottom: darkgray 1px solid;
            margin:0px 20px;
            height:100%;
            min-height: 250px;
            overflow: visible;
            clear:both;
            a {
                color: cornflowerblue;
            }
            .image {
                position: absolute;
                top: 0;
                bottom: 0;
                width: 150px;
                min-height: 250px;
                display: inline-block;
                img {
                    // max-width:150px;
                    width: 150px;
                    position: absolute;
                    margin: auto;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                }
                .no_cover {
                    display:inline-block;
                    background-color: lightgrey;
                    height: 230px;
                    width: 150px;
                    text-align:center;
                    color: white;
                    position: absolute;
                    margin: auto;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    p {
                        position: relative;
                        top: 50%; 
                        transform: translateY(-50%);
                        -webkit-transform: translateY(-50%);
                    }
                }
            }
            .details {
                display: inline-block;
                padding:10px 0px 20px 20px;
                margin-left: 150px;
                width:430px;
                display: inline-block;
                .reading_line {
                    margin-top: 5px;
                    margin-bottom: 5px;
                }
                .authors {
                    margin-top: 5px;
                    margin-bottom: 5px;
                }
                .top {
                    width:100%;
                    display:table;
                    .title {
                        display: table-cell;
                        vertical-align: top;

                        .title_link {
                            text-decoration: none;
                            underline: none;
                            color: black;
                            .title_text {
                                font-size: 18px;
                                font-family: "Georgia", serif;
                            }
                        }
                    }
                }
                .edition {
                    text-align: center;
                    border: 1px #95989A solid;
                    font-family: "Georgia", serif;
                    font-size: 12px;
                    border-radius: 2px;
                    padding: 5px 10px;
                    display: inline-block;
                    float:right;
                    margin-left: 10px;
                    min-width: 90px;
                }
                .description {
                    margin: 7% 0px 50px 0px;
                }
                .price {
                    border: 1px lightgrey solid;
                    padding: 10px 25px;
                    width: auto;
                    display: inline-block;
                    float:left;
                    bottom: 20px;
                    // position: relative;
                    position:absolute;
                    bottom: 20px;
                    p {
                        color: #6699CC;
                        display: inline-block;
                    }
                }
            }
            p {
                font-size: 14px;
            }
        }
        .no_results {
            width: 100%;
            height: 200px;
            font-size: 16px;
            text-align: left;
            padding-top: 20px;
            padding-left: 10px;
            p {
                margin-bottom: 20px;
            }
        }
    }
}
.footer_show_more {
    text-align: center;
    .show_more_disabled {
        margin: 15px auto;
        cursor: default;
    }
    .show_more {
        margin: 15px auto;
    }
}