* {
	margin: 0;
	padding: 0;
}

html, body {
	background-color: #37352B;
	height:100%;
}

p {
	font-size: 14px;
}


.search_container {
	position: relative;
	margin:0 auto;
	width: 940px;
	min-height:100%;
    height:100%;
    text-align: left;
    background-color:#F4F4F4;
}

.filters_nav {
	display: inline-block;
	width: 230px;
	height: 100%;
	min-height: 100%;
    padding: 10px 20px 0px 20px;
	background-color: #10100D;
	vertical-align: top;
	color: white;

    .nav_heading {
        color: cornflowerblue;
        font-size: 18px;
        border-bottom: 1px grey solid;
        position: relative;
        &:after {
            content: "\2212";
            color:darkgrey;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            font-size: 100%;
            line-height: 20px;
            padding: 0 7px 0px 7px;
            // background-color: lightgrey;
        }
        &.collapsed:after {
            content: "\002B";
        }
    }

    .filters_checkboxes {
        padding: 0 0 0 10px;
        font-size: 15px;
    }
}

.advertisement_banner {
	background-color: lightgrey;
}

.results_container {
	display: inline-block;
	width:656px;

    .meta_results {
        position: relative;
        height: 22px;
        padding: 10px 0 10px 0;
        .number_results {
            display: inline-block;
            text-align: center;
            margin-left: 30%;
        }

        .sort_display {
            display: inline-block;
            position: absolute;
            right:4px;

            .sort_select {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                padding-left: 10px;
                width: 150px;
                height: 25px;
                border-radius: 0px;
                background-color: lightgrey;
            }
        }
        .sort_display:after {
            content: "\25bc";
            color:darkgrey;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            font-size: 60%;
            line-height: 30px;
            padding: 0 7px;
        }
   }

    .results_content {

        .result {
            background-color: #F4F4F4;
            padding: 20px;
            border-bottom: darkgray 1px solid;
            margin:0px 20px;

            .image {
                display: inline-block;
            }
            .details {
                display: inline-block;
                padding:20px;
                width:350px;
                vertical-align: top;
                display: inline-block;
            }
        }
    
    }


}


