* {
	margin: 0;
	padding: 0;
    font-family: 'Open Sans', sans-serif;
}

html, body {
	background-color: #37352B;
	height:100%;
}

h3 {
    font-size: 13px;
    font-weight: normal;
    color: grey;
}

p {
	font-size: 14px;
}

.search_container {
	position: relative;
	margin:0 auto;
	width: 940px;
	min-height:100%;
    height:auto;
    text-align: left;
    background-color:#F4F4F4;
    overflow:hidden;
}

.filters_nav {
	display: inline-block;
	width: 240px;
	height: 100%;
	min-height: 100% ;
    padding: 10px 10px 0px 20px;
    padding-bottom: 9999px;
    margin-bottom: -9999px;
	background-color: #1e1e1B;
	vertical-align: top;
	color: white;

    > div {
        margin-bottom: 15px;
    }

    .nav_heading {
        color: #6699CC;
        font-family: "Lucida Sans";
        font-size: 12px;
        border-bottom: 2px #363838 solid;
        position: relative;
        display:inline-block;
        width: 210px;
    }
    .chevron {
        height: 0;
    }

    .fa-chevron-right, .fa-chevron-down {
        display:none;
        margin-left: 10px;
        font-size: 15px;
        cursor: pointer;
    }

    .publish_date_boxes {
        input {
            margin: 10px 10px;
            display:inline-block;
            width: 70px;
            height: 25px;
        }
    }

    .filters_checkboxes {
        padding: 0px;
        font-size: 15px;

        .filter {
            text-align: left;
            position: relative;
            margin: 10px 0px;

            .count{
                position: absolute;
                right: 2px;
                top: 4%;
                color: #95989A;
                font-family: Georgia, Times, 'Times New Roman', serif;
            }
            p input {
                position: absolute;
                left: 2px;
                top: 20%;
            }
            h3 {
                cursor: pointer;
                display: inline-block;
                font-family: Georgia, Times, 'Times New Roman', serif;
                font-size: 13px;
                color: #95989A;
                &:hover {
                    color: #ccc;
                }
            }
        }

        .filter-text {
            width: auto;
            cursor: pointer;
            display: inline-block;
            margin:0 0 0 20px;

        }
    }
}

.advertisement_banner {
	background-color: lightgrey;
}

.results_container {
	display: inline-block;
	width:656px;

    .meta_results {
        position: relative;
        padding: 8px 0 10px 0;
        border-bottom: 1px lightgrey solid;
        
        .number_results {
            display: inline-block;
            text-align: center;
            font-weight: bold;
            margin-left: 10px;
            margin-top: 5px;
            p {
                font-size: 14px;
            }

        }

        .show_more {
            display: inline-block;
            text-align: center;
            line-height: 25px;
            margin-left: 20px;
            font-family: "Lucida Sans";
            letter-spacing: 1px;
            width: 95px;
            height: 25px;
            max-width: 95px;
            max-height: 25px;
            background-color: black;
            cursor: pointer;
            p {
                color: white;
                font-size: 11px; 
            }
        }

        .breadcrumbs {
            display: none;
            font-family: "Lucida Sans" sans-serif;
            letter-spacing: .5px;
            margin-left: 10px;
            .breadcrumb {
                display: inline-block;
                margin: 5px 0;
                color: #0099cc;
                
                h2 {
                    font-size: 13px;
                    text-decoration: underline;
                    display: inline-block;
                    cursor:pointer;
                }
                p {
                    display:inline-block;
                }
                p.crumb_x {
                    font-size: 15px;
                    display: inline-block;
                    font-weight: bold;
                    cursor:pointer;
                }

                p.crumb {
                    font-size: 15px;
                    display: none;
                    font-weight: bold;
                }
            }
        }

        .sort_display {
            display: inline-block;
            position: absolute;
            right:4px;

            .sort_select {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                font-family: "Lucida Sans";
                font-size: 13px;
                font-weight: bold;
                padding-left: 30px;
                width: 150px;
                height: 30px;
                border-radius: 0px;
            }
        }
        .sort_display:after {
            content: "\25bc";
            color: black;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            font-size: 60%;
            line-height: 30px;
            padding: 0 7px;
        }
    }
    .results_content {
    
        .result {
            position: relative;
            background-color: #F4F4F4;
            padding: 10px 0px;
            border-bottom: darkgray 1px solid;
            margin:0px 20px;
            height:100%;
            min-height: 140px;
            overflow: visible;
            clear:both;
            a {
                color: cornflowerblue;
            }
            .image {
                position: absolute;
                top: 0;
                bottom: 0;
                width: 150px;
                min-height: 140px;
                max-height: 100%;
                display: inline-block;
                img {
                    position: absolute;
                    margin: auto;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                }
                .no_cover {
                    display:inline-block;
                    background-color: lightgrey;
                    height: 105px;
                    width: 72px;
                    text-align:center;
                    color: white;
                    position: absolute;
                    margin: auto;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    p {
                        position: relative;
                        top: 50%; 
                        transform: translateY(-50%);
                        -webkit-transform: translateY(-50%);
                    }
                }
            }
            .details {
                display: inline-block;
                padding:0px 0px 20px 20px;
                margin-left: 150px;
                width:430px;
                vertical-align: top;
                display: inline-block;
                .top {
                    width:100%;
                    display:table;
                    .title {
                        display: table-cell;
                        vertical-align: top;

                        .title_text {
                            font-size: 18px;
                            font-family: "Georgia", serif;
                        }
                    }
                }
                .edition {
                    border: 1px #95989A solid;
                    font-family: "Georgia", serif;
                    font-size: 12px;
                    border-radius: 2px;
                    padding: 5px 10px;
                    display: inline-block;
                    float:right;
                    white-space: nowrap;
                }
                .description {
                    margin: 10px 0px;
                }

                .price {
                    border: 1px lightgrey solid;
                    padding: 10px 25px;
                    width: auto;
                    display: inline-block;
                    float:left;
                    bottom: 20px;
                    p {
                        color: #6699CC;
                        display: inline-block;
                    }
                }
            }
        }
    }
}