<script type="text/javascript">
		var WWNAnalyticID = '@@if(ga){@@ga}';
		dataLayer = [];
	</script>
	<!-- Google Tag Manager -->
	<noscript><iframe src="//www.googletagmanager.com/ns.html?id=@@if(gtm){@@gtm}"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','@@if(gtm){@@gtm}');</script>
	<!-- End Google Tag Manager -->


	<script type="text/javascript">
		var doTrack = function (event, misc, action, label) {
			var i,
				val = '',
				length = arguments.length,
				options = {};
			/*for (i = 0; i < length; i += 1) {
				if (arguments[i] !== '') {
					val += arguments[i];

					if (i < length - 1) {
						val += '.';
					}
				}
			}*/

			options = {
          		'event': event,
          		'dataLayer-analyticId': 'UA-66576513-2',
          		'dataLayer-category': 'SearchResultsPage',
          		'dataLayer-action': action,
          		'dataLayer-label': label
            };
            dataLayer.push(options);
			console.log(dataLayer)
		}
	</script>